Label {
    color: white
}

.dop-holder {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

.dob-holder > DropdownField {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 4px;
    margin-right: 4px;
}

.dob-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}